@import '../variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Roboto&family=Yesteryear&display=swap');

.App{
  font-family: 'Roboto', sans-serif;
  min-width: 75rem;

}
.App-header{
  background-color: $dark-blue;
  align-content: flex-start;
  display: flex;
  flex-direction: column;
}

.header{
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  top: 0;
  flex-wrap: wrap ;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  background-color: $purple;
  width: 100%;
  &__logo{
    max-width: 30rem;
  }
  h1{
    font-family: 'Orbitron', sans-serif;
    // font-family: 'Yesteryear', cursive;
    left: 0;
    font-size: 3rem;
    font-weight: bolder;
    width: fit-content;
    color: $grey;
  }
}

.footer{
  background-color: $purple;
  display: flex;
  justify-content: space-around;
  height: 6rem;
  padding: 2rem;
  a{
    font-family: 'Orbitron', sans-serif;
    // font-family: 'Yesteryear', cursive;
    left: 0;
    font-size: 2rem;
    font-weight: bolder;
    width: fit-content;
    color: $grey;
      
  }
}

.list{
  display: flex;
  padding-top: 1rem;
  align-content: center;
  flex-direction: column;
}

.artist-list{
  display: flex;
  padding-top: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.track {
  display: flex;
  color: #fefefe;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  &__thumbnail {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    max-width: 150px;
    max-height: 150px;
  }
  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    overflow: hidden;
  }
  &__artists {
    font-size: 1.3rem;
    font-weight: bold;

  }
  &__name {
    font-weight: bolder;
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
  }
  &__side{
    vertical-align: middle;
    padding: 1rem;
    text-align: right;
  }
  &__rank {
    font-weight: bolder;
    font-size: 4.8rem;
    vertical-align: middle;
  }
}

.artist {
  max-height: 5%;
  display: flex;
  flex-direction: column;
  color: #fefefe;
  margin: 0.5rem;
  &__thumbnail {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  &__info {
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background: $violet;
    overflow: hidden;
    max-height: 6rem;
  }
  &__popularity {
    font-size: 1rem;
    color: $grey
  }
  &__name {
    padding: 1.5rem;
    font-weight: bolder;
    font-size: 2rem;
  }
  &__rank {
    font-weight: bolder;
    font-size: 2.5em;
    vertical-align: middle;
    color: $purple;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.age-list {
  display: flex;
  
  align-self: center;
  // margin-left: 10rem;
  // margin-right: 10rem;
  background-color:$purple;
  &__item {
    flex-grow: 4; 
    color: $grey;
    min-height: 5rem;
    min-width: 5rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;

    &:hover {
      background-color: $purple;
      cursor: pointer;
      color: $blue;
    }

    &--selected {
      background-color: $red;
      color: $blue;

      &:hover {
        background-color: $red;
        color: $blue;
      }
    }
    h3{
      font-weight: bold;
      align-self: center;
      text-align:center;
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
    }
  }
}

.header-list {
  display: flex;
  align-self: center;
  &__item {
    width: fit-content;
    color: $grey;
    min-height: 5rem;
    min-width: 5rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;

    &:hover {
      cursor: pointer;
      color: $blue;
    }

    &--selected {
      color: $blue;
    }
    h3{
      font-weight: bold;
      align-self: center;
      text-align:center;
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
    }
  }
}

.chart{
  height: 50%;
  widows: 80%;
  display: flex;
  flex-wrap: wrap ;
  flex-direction: column;
}

.login{
  background-color: $violet;
  padding: 1rem;
  border-radius: 500px;
  width: 16rem;
  a{
    font-size: 1.6rem;
    color: $blue;
  }
}

.top{
  align-items: flex-start;
  padding-top: 1rem;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  &--saved{
    padding: 3rem;
  }
  &--tab{
    min-width: 55rem;
    padding-left: 13rem;
    padding-right: 13rem;
  }
}

.loading-track{
  height: 150px;
  width: 100%;
}

.loading-tab{
  min-height: 1000px;
  width: 100%;
}

.extremes{
  margin: 2rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  min-width: 40rem;
  background-color: $purple;
  color: $orange;
  &__highest{
    margin: 2rem;
  }
  &__lowest{
    margin: 2rem;
  }
}

.description{
  padding: 2rem;
  color: $orange;
  text-align: left;
}