@import '../variables.scss';

.App-header{
  background-color: $dark-blue;
  align-content: flex-start;
  display: flex;
  flex-direction: column;
}

.header{
  top: 0;
  background-color: $purple;
  width: 100%;
}

.list{
  display: flex;
  flex-direction: column;
}

.artist-list{
  display: flex;
  margin: 10%;
  flex-wrap: wrap;
  justify-content: center;
}

.track {
  max-height: 5%;
  display: flex;
  color: #fefefe;
  margin-bottom: 0.5rem;
  &__thumbnail {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background: #201f2f;
    overflow: hidden;
  }
  &__info--explicit {
    background: rgba(182, 21, 64, 0.4);
  }
  &__artists {
    font-size: 1rem;
    color: $grey
  }
  &__name {
    font-weight: 700;
    font-size: 1.4rem;
  }
  &__rank {
    vertical-align: middle;
  }
}

.artist {
  max-height: 5%;
  display: flex;
  flex-direction: column;
  color: #fefefe;
  margin: 0.5rem;
  &__thumbnail {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    // padding-left: 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background: $violet;
    overflow: hidden;
  }
  &__info--explicit {
    background: rgba(182, 21, 64, 0.4);
  }
  &__popularity {
    font-size: 1rem;
    color: $grey
  }
  &__name {
    font-weight: 700;
    font-size: 1.4rem;
  }
  &__rank {
    vertical-align: middle;
  }
}

.age-list {
  display: flex;
  width: 100%;
  align-self: center;
  &__item {
    width: 18%;
    background-color:$orange;
    color: $black;
    min-height: 9rem;
    min-width: 5rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;

    &:hover {
      background-color: $purple;
      cursor: pointer;
      color: $black;
    }

    &--selected {
      background-color: $violet;
      color: $white;

      &:hover {
        background-color: $violet;
        color: $white;
      }
    }
    h3{
      font-weight: bold;
      align-self: center;
      text-align:center;
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
    }
  }
}

.chart{
  height: 50%;
  widows: 80%;
}