$font-family: "Source Sans Pro", sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;
$grey: #dddddd;
// $blue: #1450a0;

$yellow: 	#ceb441;
$orange: 	#fc8939;
$red: 	#ac3032;
$violet: rgb(195, 65, 143);
$purple: #241b2f;
$blue: #6de6ab;
$dark-blue:rgb(39, 32, 56);

$dark-background  : #222f3e;

$weeks-colors: #54a0ff, #48dbfb, #1dd1a1, #5f27cd;
$booked-color1: #B39DDB;
$booked-color2: #B5DEF2;
$booked-color3:#6CD6CC;
$booked-color4:#FEBF6C;
$booked-color5:#F695B4;
$danger-color: #ee5253;
$error-color: #ff9f43;
$confirm-color: #10ac84;
$spacing: 2rem;